<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/footer :: head('게시판')">

</head>
<body>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="includes/footer :: menu('board')">
 <!--  <div class="container-fluid">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div> -->
</nav>

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>부트 게시판 조져볼까 ㅋㅋ</h1> <span th:text="${boardTotal}">총 수 : </span> 
		<table class="table">
		<tr>
		<th>dadsa</th>
		<th>dadsa</th>
		<th>dadsa</th>
		<th>dadsa</th>
		</tr>
	<tr th:each="boardlist:${boardList}">
    <td><span th:text="${boardlist.bno}"></span></td>
    <td><span th:text="${boardlist.title}"></span></td>
    <td><span th:text="${boardlist.content}"></span></td>
    <td><span th:text="${boardlist.regdate}"></span></td>
  </tr>
		</table>
  </div>
    <div>건수 : <span th:text="${#lists.size(boardList)}"></span></div>
    <form th:action="@{/board/form}"  method="post">
    <input type="text" name="title" class="form-control">
    <input type="text" name="content" class="form-control">
    <button type="submit" class="btn btn-primary">전송</button>
    </form>
    
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}">
    <a class="page-link" href="#" th:text="${i}">1</a>
    
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

</main>


    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      
  </body>
</html>